<header>
    <div class="logo-section" id='logo-section'>
        <a href="/" class="logo">
            <img src="./assets/img/ellipse.svg" />
            <h3 class="title">HRHR</h3>
        </a>
        <a href="#" onclick="is_toggle()"><img src="./assets/img/swap.svg" class="" /></a>
    </div>
    <div class="header-content">
        <a href="/" class="sub-logo">
            <img src="./assets/img/Union.svg" class="" />
            <h3 class="title">Menumiz HR</h3>
        </a>
        <div class="header-right-content" id="collapse-nav">
            <span>
                <img src="./assets/img/search-normal.svg" class="" />
                <input type="text" placeholder="Enter any keyword...">
            </span>
            <img src="../assets//img/sort.svg" class="nav-right-icon" />
            <div class="notification-container">
                <img src="./assets/img/notification.svg" class="notify-icon" />
                <div class="notification-dot"></div>
            </div>
            <img src="./assets/img/Avatar_6.svg" class="nav-right-icon" />
        </div>
    </div>
</header>