// Define variables
$primary-color: #6556e0;
$gray-main-light: #3498db;
$gray-main-dark: #898989;
$gray-font: #d9d9d9;
$gray-500: #697386;
$dark: #272727;
$black-main: #151515;
$secondary-dark: #1e1e1e;
$notify-yellow: #ffd928;
$white: #fff;
$green: #288A05;
$font-stack: 'Urbanist';