@import 'variables';


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $dark;

    .title {
        padding-left: 8px;
    }

    .logo-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background-color: $dark;
        padding: 20px 16px 20px 40px;
        width: 100%;
        max-width: 240px;
    }

    .logo,
    .sub-logo {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .sub-logo {
        padding: 10px 5px 10px 40px;
    }

    .header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
        padding-right: 16px;

        .title {
            font-size: 15px;
        }

        .header-right-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            .content {
                padding-right: 16px;
            }

            span {
                display: flex;
                padding: 8px 16px;
                align-items: center;
                background-color: $dark;
                border-radius: 20px;


                input {
                    background-color: transparent;
                    border: 0;
                    color: $gray-font;
                    padding-left: 16px;
                    width: 100%;

                    &:focus-visible {
                        outline: none;
                    }
                }
            }

            .notification-container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: $primary-color;
                padding: 8px;
                border-radius: 50%;

                .notify-icon {
                    width: 24px;
                    height: 24px;
                }

                .notification-dot {
                    width: 8px;
                    height: 8px;
                    background-color: #ffd928;
                    border-radius: 50%;
                    margin-left: -10px;
                    margin-top: -15px;
                    z-index: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        .header-content {
            .title {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        .logo-section{
            max-width: 100%!important;
        }
        .header-content {
            width: 100%;
            padding: 0 8px 0 20px;
           
            img {
                width: 20px;
                height: 20px;
            }

            .sub-logo-content {
                .title {
                    display: flex;
                }
            }

            .logo {
                justify-content: space-between;
                width: 100%;
            }

            .header-right-content {


                .notification-container {
                    background-color: transparent;
                    padding: 0;


                }

                span {
                    min-width: 103px;
                }

            }
        }
    }
}