@import 'variables';

// Global Styles
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $white;
}

body {
    font-family: $font-stack;
    background-color: $black-main;
    color: $white;
}
