@import 'variables';

.tab-content-container {
    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        color: $gray-500;
        width: 100%;
        table-layout: auto;

        thead {
            padding-top: 8px;

            tr {
                border-radius: 16px;
                background-color: $dark;

                th:first-child {
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                }

                th:last-child {
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
            }

            th {

                align-items: center;
                align-items: center;
                justify-content: center;
                padding: 20px 0px;
                text-transform: uppercase;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                }

            }
        }

        tbody {
            .is-approved {
                background-color: $green !important;
            }

            .notification-dot-active {
                width: 8px;
                height: 8px;
                background-color: $notify-yellow;
                border-radius: 50%;

                z-index: 1;

            }

            td {
                color: $white;
                font-size: 13px;

                .td-data {
                    text-align: left;
                    padding: 20px;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 8px
                }


                .action {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .btn {
                        border: 1px solid $white;

                        padding: 8px 16px;
                        border-radius: 20px;
                    }

                    .btn:nth-child(2) {
                        background-color: $primary-color;
                        border-color: transparent;
                    }
                }

                .check-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 13px;
        padding: 16px 0;
        align-items: center;

        a {
            padding: 10px;
            background-color: $dark;
            border-radius: 8px;
        }
    }
}




@media screen and (max-width: 880px) {
    .tab-content-container {


        table {
            font-size: 12px;

            th {
                span {
                    gap: 4px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .tab-content-container {
        table {
            border: 0;
        }


        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {

            display: block;
            text-align: left;
            padding: 6px 0;

            .td-data {
                padding: 0 !important;
            }

            .check-content {
                justify-content: start !important;
            }
        }


    }

}